*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    font-family: "Outfit", "Young Serif", sans-serif;
}

:root {
    --heading-l: 2.5rem;
    --heading-m: 1.75rem;
    --fs-m: 1.25rem;
    --fs-s: 1rem;

    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
    --snow: #FFF7FB;
    --dark-raspberry: #7A284E;
    --brandy-red: #854632;
    --white-coffee: #E3DDD7;
}

html,
body,
h1,
h2,
h3,
ul,
ol,
li,
p,
img {
    margin: 0;
    padding: 0;
}

body {
    color: var(--wenge-brown);
    line-height: 1.5rem;
}

hr {
    margin: 32px 0;
    border-bottom-width: 0;
}

.subtitle {
    color: var(--brandy-red);
    font-family: "Young Serif";
    font-size: var(--heading-m);
    margin-bottom: 24px;
    line-height: 1;
    font-weight: 400;
}

ul {
    padding-left: 6px;
}

ul li {
    color: var(--wenge-brown);
    padding-left: 33px;
    list-style: none;
    position: relative;
    margin-bottom: 8px;
}

ul li::before {
    content: "•";
    color: var(--dark-raspberry);
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.ingredients li::before {
    color: var(--brandy-red);
}

li:last-child {
    margin-bottom: 0;
}

.recipe-img {
    height: 171px;
    background-size: cover;
    background-image: url(./images/image-omelette.jpeg);
    background-position: center;
    background-repeat: no-repeat;
}

.recipe-content {
    padding: 40px 32px;
}

.title {
    font-family: "Young Serif";
    color: #1E1E1E;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1;
}

.text {
    margin-top: 24px;
    color: var(--wenge-brown);
    line-height: 1.5;
}

.recipe-info-block {
    background-color: var(--snow);
    padding: 24px;
    margin: 32px 0;
    border-radius: 12px;
}

.recipe-info-title {
    font-size: var(--fs-m);
    color: var(--dark-raspberry);
    font-weight: 600;
    margin-bottom: 16px;
    line-height: 1;
}

.instructions li {
    padding-left: 16px;
    margin-left: 24px;
    margin-bottom: 8px;
}

.instructions li::marker {
    color: var(--brandy-red);
    font-weight: 700;
}

.nutrition .text {
    margin-bottom: 22px;
}

.nutrition table {
    width: 100%;
    text-align: left;
    vertical-align: middle;
    border-collapse: collapse;
}

.nutrition tbody tr {
    border-bottom: 1px solid var(--white-coffee);
}

.nutrition tbody tr:last-child {
    border-bottom: none;
}

.nutrition th,
.nutrition td {
    padding-bottom: 12px;
    width: 50%;
}

.nutrition th:first-child,
.nutrition td:first-child {
    padding-left: 32px;
    padding-right: 8px;
    font-weight: 400;
}

.nutrition th:last-child,
.nutrition td:last-child {
    padding-right: 32px;
    padding-left: 8px;
    font-weight: 700;
    color: var(--brandy-red);
}

.nutrition td {
    padding-top: 12px;
}

.attribution {
    display: none;
}

@media screen and (min-width: 736px) {

    body {
        background:
        linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url(../design/desktop-design.jpg),
        center left no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--eggshell);
    }

    .card {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 736px;
        padding: 40px;
        margin: 123px 0;
        border-radius: 24px;
    }

    .recipe-img {
        height: 300px;
        border-radius: 12px;
    }

    .recipe-content {
        padding: 0;
    }

    .title {
        padding-top: 42px;
    }

    .recipe-info-title {
        line-height: 1.5;
    }

}